*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.icon-nav{
    display: none;
    cursor: pointer;
}

.head-nav{
    width: 100%;
    height: 100px;
}

.sidebar{
    position: fixed;
    top: 100px;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #3b3535;
    transition: all 0.3s;
    color: rgb(0, 0, 0);
    transform: translateX(-100%);
    overflow: hidden;
   
} 

.icon-list-nav{
    border: 1px solid;
    padding: 0 8px;
    border-radius: 8px;
    
}

a:hover .icon-list-nav,
a:hover .menuname-nav {
    color: rgb(245, 145, 30);
}

a:hover .icon-list-nav {
    background-color: rgb(221, 231, 231);
   
}

.sidebar.active {
    transform: translateX(0);
}



.main-content {
    position: relative;
    top: 100px;
    margin-left: 0;
    transition: margin-left 0.3s;
  }

  
@media (min-width: 768px) {
    .head-nav{
        height: 80px;
    }
    .icon-nav{
        display: block;
        cursor: pointer;
    }


    .sidebar {
        transform: translateX(0);
        width: 240px;
        top: 80px;
    }
    .hide-name-menu{
        width: 60px;   
    }
    .main-content {
          top: 80px;
      
        margin-left: 16rem;
        
    }
    .fullmenu-desktop-active {
        margin-left: 80px;
    
    }
    .navbar-toggler{
        display: none;
    }
}
